@import 'subscribe';
$primary-bg-color: #4caf50;
$whitish: #f5f5f5;

html,body{
  //background: url('img/bg.png') $background-color;
  font-family: 'Roboto', sans-serif;
}

#landing-page{
  .row{
    margin: 0;
  }

  section{
    background: #eee ;
    min-height: 800px;
  }
  .guide{
    max-width: 1000px;
  }
  .fright{
    float: right;
  }
  nav#nav1, nav#nav2{
    border: none;
    border-radius: 0;
    a{
      color: $whitish;
    }
  }
  nav#nav1{
    background: none;
  }
  nav#nav2{
    background: $primary-bg-color;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.22);

    ul li.active a{
      color: #444;
      background: none;
    }
  }

  .but{
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    border: none;
  }
  .bg-white{
    background: $whitish;
    color: $primary-bg-color;
  }
  .bg-green{
    background: $primary-bg-color;
    color: $whitish;
  }

  .parent {
    position: relative;
  }
  .child-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .w576{
    max-width: 576px;
    text-align: center;
  }

  #home{
    background: #0d2c10 url('img/backtruck.png') no-repeat;
    background-size:     cover;
    background-position: center center;
    #home-text1{
      font-size: 54px;
      color: #e5e5e5;
    }
    #home-text2{
      font-size: 20px;
      color: #e5e5e5;
    }
    .mag-bottom{
      margin-bottom: 20px;
    }
  }
}
