<div class="main">
  <div id="logo-top" class="row bottom-margin">
    <span>{ </span>Logo<span> }</span></div>
  <div id="desc-cont" class="row bottom-margin">
      <div class="row phrase">We are making something <span>super</span> awesome!</div>
      <div class="row long-desc">We are about to change the world, and you shouldn't be left out. Join us in the making this a reality.</div>
  </div>
  <div id="input-cont" class="row bottom-margin">
    <input class="inshadow" type="text" placeholder="Enter your email address ...">
    <button>Notify me</button>
  </div>
  <div id="social-cont" class="row bottom-margin">
    Facebook <span> | </span> Twitter  <span> | </span> RSS
  </div>
</div>
{{outlet}}
