<div id="landing-page">
  <section id="home" class="row parent">
    <div class="container guide">
      <nav id="nav1" class="navbar navbar-default">
        <div class="container-fluid guide">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Ghalani</a>
          </div>
          <ul class="nav navbar-nav fright">
            <li><a href="#overview">Overview</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="w576 child-center">
      <div id="home-text1" class="mag-bottom">
        Track your logistics more efficiently
      </div>
      <div id="home-text2" class="mag-bottom">
        I am writing something to pass away time and make you interested in my product so stick with me
      </div>
      <div id="home-text3">
        <div class="btn but bg-green">
          START NOW
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="row">
    <nav id="nav2" class="navbar navbar-default">
      <div class="container-fluid guide">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Ghalani</a>
        </div>
        <ul class="nav navbar-nav fright">
          <li class="active"><a href="#">Overview</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Contact</a></li>
          <li><div class="btn but bg-white">START NOW</div></li>

        </ul>
      </div>
    </nav>
  </section>
  <section id="features" class="row">
    dfdfdf
  </section>
  <section id="contact" class="row">
    dfdfdf
  </section>
</div>
