<div class="main">
  <div id="logo-top" class="row bottom-margin">
    <span>{ </span>Logo<span> }</span></div>
  <div id="desc-cont" class="row bottom-margin">
      <div class="row phrase">Thanks for <span>subscribing</span></div>
      <div class="row long-desc">We are glad to have you.</div>
  </div>
  <div id="input-cont" class="row bottom-margin">

  </div>
  <div id="social-cont" class="row bottom-margin">
    Facebook <span> | </span> Twitter  <span> | </span> RSS
  </div>
</div>
